* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
}
.all {
    text-align: center;
}
input {
    background-color: rgb(65, 65, 65);
    border: none;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 20px;
}
button {
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(128, 255, 0);
    display: block;
    margin: 10px auto;
}
body {
    background-color: #242424;
}
h1 {
    color: #fff;
}
.anon {
    background-color: #000;
}
.licence {
    color: #fff;
    opacity: 0.3;
    display: block;
    font-size: smaller;
    text-align: center;
}

button:hover {
    background-color: rgb(84, 168, 0);
    cursor: pointer;
    transition: 0.5s;
}
.anon:hover {
    background-color: #353535;
}
input:hover {
    padding: 4px;
    transition: 0.5s;
}